body
	{
		background-color: violet;
		margin: 0;
		padding: 0;
	}

header
	{
		background-color: yellow;
		color: green;
		
	}

h1
	{
		margin: 0;
		padding-top:2%;
		padding-bottom: 2%;
		padding-left:2%;
	}

h1:hover
	{
		font-size: 10em;
	}

nav a
	{
		background-color: black;
		text-align: center;
		color: white;
		display: inline-block;
		width: 25%;
		padding-top: 1%;
		padding-bottom: 1%;
		text-decoration: none;
	}



nav a:hover
	{
		background-color: red;
	}

section
	{
		width: 80%;
		margin-left: 10%;		
	}

img
	{
		width: 100%; 
	}

img.sec:hover
	{
		width: 90%;
		margin-left: 5%; 
	}

article
	{
		width: 30%;
		display: inline-block;
		margin-left: 3%;
		margin-top:3%;	
	}

#prin
	{
		width: 96%;
	}

.actual
	{
		background-color: grey;
	}
/* ----------- ACA EMPIEZA EL CSS DE LA TABLET ----------- */


@media screen and (max-width: 800px)
	{
		article
			{
				width: 45%;
			}

		body
			{
				background-color: red;
			}
	}


/* ----------- ACA EMPIEZA EL CSS DEL CEL ----------- */


@media screen and (max-width: 480px)
	{
		article
			{
				width: 100%;
				margin-left: 0;
			}

		body
			{
				background-color: blue;
			}
		
		a
			{
				width: 100%;
			}
	}

