body
	{
		margin: 0;
		padding: 0;
		background-color: black;
	}

h1
	{
		color: orange;
		padding-left:10%;
	}

table
	{
		width:80%;
		color: white;
		margin-left: 10%;
		border-collapse: collapse; 
	}

th
	{
		background-color: orange;
	}

th.op1
	{
		background-color: red;
	}

#nom
	{
		background-color: white;
	}